.ProseMirror:focus {
  outline: none;
}

.ProseMirror {
  padding: 1rem 0;

  .ProseMirror-selectednode {
    outline: none;
  }

  h1:before {
    display: inline;
    content: "#. ";
    color: #94a3b8;
  }

  h2:before {
    display: inline;
    content: "##. ";
    color: #94a3b8;
  }

  h3:before {
    display: inline;
    content: "###. ";
    color: #94a3b8;
  }

  figure > img {
    width: 100%;
    display: block;
    margin: auto;
    margin: 1rem 0;
  }

  hr {
    margin: 2rem 0;
  }

  figcaption {
    text-align: center;
  }

  code {
    color: #ef4444;
    background-color: #e2e8f0;
    caret-color: black;
    padding: 0 0.3rem;
    font-size: 14px;
  }

  figure.ProseMirror-selectednode > img,
  h1.ProseMirror-selectednode,
  h2.ProseMirror-selectednode,
  h3.ProseMirror-selectednode,
  p.ProseMirror-selectednode {
    outline: 5px solid #f97316;
  }

  ruby.ProseMirror-selectednode {
    background-color: rgba(0, 0, 0, 0.1);
  }
}
